<ion-view title="Ahora Suena">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="img/TUGThOIATxaC4zBXVJzp_bob_marley.jpg">
                <h2>Bob Marley</h2>
                <p>Sun Is Shining</p>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item class="item-thumbnail-left" href="#/votaciones">
                <img src="img/cZoxdBlrR2yy0wQAVOtI_queen.jpg">
                <span class="badge badge-assertive">15</span>
                <h2>Queen</h2>
                <p>Don't Stop Me Now</p>
                <div class="button-bar">
                    <button class="button button-stable button-icon button-block  icon-left ion-heart">Votar</button>
                    <button class="button button-stable button-icon button-block  icon-left  ion-eye">Ver</button>
                </div>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/cZoxdBlrR2yy0wQAVOtI_queen.jpg">
                <span class="badge badge-assertive">14</span>
                <h2>Queen</h2>
                <p>Bohemian Rhapsody</p>
                <div class="button-bar">
                    <button class="button button-stable button-icon button-block  icon-left ion-heart">Votar</button>
                    <button class="button button-stable button-icon button-block  icon-left  ion-eye">Ver</button>
                </div>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/lghNu0FXSBagAs9SKiH9_silvio_rodriguez.jpg">
                <span class="badge badge-assertive">6</span>
                <h2>Silvio Rodriguez</h2>
                <p>Don't Stop Me Now</p>
                <div class="button-bar">
                    <button class="button button-stable button-icon button-block  icon-left ion-heart">Votar</button>
                    <button class="button button-stable button-icon button-block  icon-left  ion-eye">Ver</button>
                </div>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/IYUtheZtRLuW6jlEqL6w_juan_luis_guerra.jpg">
                <span class="badge badge-assertive">4</span>
                <h2>Juan Luis Guerra</h2>
                <p>Bachata Rosa</p>
                <div class="button-bar">
                    <button class="button button-stable button-icon button-block  icon-left ion-heart">Votar</button>
                    <button class="button button-stable button-icon button-block  icon-left  ion-eye">Ver</button>
                </div>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/KZ7L4haTg6xEdvjYRGHQ_mana.jpg">
                <span class="badge badge-assertive">3</span>
                <h2>Mana</h2>
                <p>Clavado en un bar</p>
                   <div class="button-bar">
                    <button class="button button-stable button-icon button-block  icon-left ion-heart">Votar</button>
                    <button class="button button-stable button-icon button-block  icon-left  ion-eye">Ver</button>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>