<ion-view title="Buscar">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="bar bar-header item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="Buscar artista o cancion">
  </label>
  <button class="button button-clear">
    Cancel
  </button>
</div>
        <ion-list>
            <h6>Créditos disponibles: 20</h6>
          
            <ion-item class="item-thumbnail-left">
                <img src="img/SyqtTT5TrWjy3710VMFA_bob.jpg">
                <h2>Bob Marley</h2>
                <p>Redemption song</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/aFFTBwySpK81AjHfWUfg_queen.jpg">
                <h2>Queen</h2>
                <p>We Will Rock You</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/tCbMwIMpRmKOF6HiDF0D_aero.jpg">
                <h2>Aerosmith</h2>
                <p>Crazy</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>