<ion-view title="Registro">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">

            <div class="card">
                <div class="item item-divider">
                    Datos del Usuario
                </div>
                <label class="item item-input">
                    <span class="input-label">Usuario</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Nombre Completo</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="">
                </label>
                 <label class="item item-input">
                <span class="input-label">Contraseña</span>
                <input type="password" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Repetir Contraseña</span>
                <input type="password" placeholder="">
            </label>
            </div>


            <div class="card">
                <div class="item item-divider">
                    Genéro
                </div>
                <ion-radio>Masculino</ion-radio>
                <ion-radio>Femenino</ion-radio>
            </div>


            <div class="card">
                <div class="item item-divider">
                    Fecha de nacimiento
                </div>
                <label class="item item-input">
                    <span class="input-label">Fecha</span>
                    <input type="date" placeholder="">
                </label>
            </div>
           
        </form>
        <button class="button button-assertive button-block ">Registrar</button>

        <div class="button-bar"></div>

    </ion-content>
</ion-view>