<ion-view title="Scanear QR">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <img src="img/q3HVbB3SKueygTgA4sPh_qr.jpg" width="100%" height="auto" style="width: 100%; height: auto;">
        <a href="#/tabs/buscar" class="button button-stable button-block  icon-left ion-camera">Scan!</a>
 
        <form class="list">
            <label class="item item-input">
                <span class="input-label">ID Cliente</span>
                <input type="number" placeholder="ID Cliente">
         
            </label>
            
       
             <a href="#/tabs/buscar" class="button button-stable button-block">Ingresar con este código</a>
       <a href="#/registro" class="button button-positive button-clear button-block ">¿Qué es esto?</a>
        </form>
    </ion-content>
</ion-view>