<ion-view title="Votaciones">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="img/PZycH5oQFu6GZdNFpVF4_queen.jpg">
                <h2>Queen</h2>
                <p>don't stop me now</p>
            </ion-item>
        </ion-list>
        <h5>Han votado por esta canción:</h5>
        <ion-list>
            <ion-item>Roy Corella</ion-item>
            <ion-item>Rodolfo Asenjo</ion-item>
            <ion-item>Caro Marcedario</ion-item>
            <ion-item>Andrea Muscatre</ion-item>
        </ion-list>
    </ion-content>
</ion-view>